.text-xs {
    font-size: 25%;
}
.text-s {
    font-size: 50%;
}
.text-l {
    font-size: 200%;
}
.text-xl {
    font-size: 400%;
}
.text-xxl {
    font-size: 800%;
}

#red-button {
    background-color: #a12020;
    border-radius: 100%;
    width: min(80vw, 80vh);
    height: min(80vw, 80vh);
    margin: auto;
}

#red-button:hover {
    background-color: #521010;
    cursor: pointer;
}